<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{cssUri}}">
</head>
<body>
    <h1>Opcodes List</h1>
    <div class="combobox-container">
        <label for="display-types">Choose a display type:</label>
        <select name="display-types" id="display-types" class="display-type-select">
            <option value="Opcodes">Opcodes</option>
            <option value="Classes & members">Classes & members</option>
        </select>
    </div>
    <div class="input-container">
        <label for="opcode-filter">Filter Opcodes:</label>
        <div class="input-with-text">
            <input type="text" id="opcode-filter" placeholder="Enter opcode name or address or something else...">
            <span class="opcode-matches">Matches: 0</span>
        </div>
    </div>
    <div class="no-results" id="no-results">No results</div>
    <div class="opcode-list" id="opcode-list"></div>
    <script src="{{jsUri}}"></script>
</body>
</html>